*{
    margin: 0;
    padding: 0;
}

body {

    background: #f2f2f2;
    text-align: center;
}

input{
 font-size: 3rem;
 margin-top: 2rem;
}

#result{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    margin: 2rem auto;
    width: 30rem;
    padding: 1rem;
    border-radius: 1rem;
    
}